@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

.customization-container {
    background-image: url('../../../../assets/customization-background-image.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Để chữ màu trắng dễ đọc trên nền ảnh */
}



.customization-head-content {
    margin-top: 30px;
    font-family: 'Prata', serif;
    font-weight: bold;
    color: white;
    /* Để chữ màu trắng dễ đọc trên nền ảnh */
    text-align: center;
    width: 100%;
}


.customization-body-content-text {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 20px;
    font-family: 'Prata', serif;
    text-align: justify;
}

.customization-body-content-text p {
    width: 60%;
}

.customization-body-content-image {
    display: flex;
    justify-content: start;
}

.customization-body-content-image Image {
    width: 100%;
    height: 100%;
}

.responsive-text {
    font-size: 1.2em;
    font-family: 'Prata', serif;
    text-align: justify;
}

@media screen and (max-width: 1200px) {
    .responsive-text {
        font-size: 1em;
    }
}

@media screen and (max-width: 992px) {
    .responsive-text {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 768px) {
    .responsive-text {
        font-size: 0.6em;
    }
}